@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ensures padding and border are included in the element's total width and height */
}

/* Global Styles */
body {
    font-family: "Poppins", sans-serif;
    overflow-y: scroll;
}

/* Navigation Styles */
nav {
    background-color: #282a35;
    z-index: 999;
}

/*  */
.scrollable-nav {
    overflow-y: hidden;
    max-height: 200px;
}

.scrollable-nav::-webkit-scrollbar {
    display: none;
}

.fixed-item {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #282a35;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 12px;
    cursor: pointer;
}

ul {
    display: flex;
    list-style: none;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
}

li {
    padding: 5px 15px;
}

li:hover,
.fixed-item:hover {
    background-color: #000000;
}

a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

#hero-section {
    background-image: url(./icons/lynx_in_space.png), url(./icons/background_in_space.gif);
    background-repeat: no-repeat, repeat;
    background-position: 90% 60%, center center;
    /*left top*/
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
}

.hero-text {
    text-align: center;
    color: #ffffff;
}

.learnToCodeh1 {
    font-size: 60px;
    font-weight: 700;
}

.learnToCodeh3 {
    color: #FFF4A3;
    font-weight: 700;
    margin-top: 20px !important;
    font-size: 22px;
}

.learnToCodeh4 {
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-top: 30px !important;
}

.learnToCodeh4 a {
    text-decoration: underline;
}

form.example {
    position: relative;
    margin-top: 30px !important;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #282A35;
    border-radius: 25px;
    float: left;
    width: 80%;
    padding-left: 25px;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    border-right: 1px solid #04AA6D;
    outline: 0;
}

form.example button {
    border-radius: 25px;
    float: left;
    width: 20%;
    padding: 10px;
    background: #04AA6D;
    color: white;
    font-size: 17px;
    border: 1px solid #282A35;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

form.example button:hover {
    background: #059862;
    color: white;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

svg {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #D9EEE1;
}

#wavepath {
    fill: #282A35;
}

#sec-html {

    background-color: #d9eee1;
}

.body-course-det {
    padding: 0 16em;
}

.learnh1 {
    margin-top: 20px;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
}

/* #body{
    height: 300px;
} */
#sec-css {
    background-color: #fff4a3;
}

.sec-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.languageHTMLh4 {
    color: #000000;
}

.buttons {
    padding: 20px;
}

.tut-button {
    background-color: #04AA6D;
    color: white;
    font-size: 18px;
    margin: 10px;
    display: block;
    width: 200px;
    border-radius: 25px;
    border: none;
    height: 40px;
}