@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ensures padding and border are included in the element's total width and height */
}

/* Global Styles */
body {
    font-family: "Poppins", sans-serif;
}

/* Navigation Styles */
nav {
    background-color: #282a35;
    max-height: 200px;
}

/*  */
.scrollable-nav {
    overflow-y: hidden;
}

.scrollable-nav::-webkit-scrollbar {
    display: none;
}

.fixed-item {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #282a35;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 12px;
    cursor: pointer;
}

ul {
    display: flex;
    list-style: none;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
}

li {
    padding: 5px 15px;
}

li:hover,
.fixed-item:hover {
    background-color: #000000;
}

a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

#hero-section {
    background-image: url(./icons/lynx_in_space.png), url(./icons/background_in_space.gif);
    background-repeat: no-repeat, repeat;
    background-position: 90% 60%, center center;
    /*left top*/
    padding-top: 90px;
    padding-bottom: 90px;
}

.hero-text {
    text-align: center;
    color: #ffffff;
}

.learnToCodeh1 {
    font-size: 70px;
    font-weight: 700;
}

.learnToCodeh3 {
    color: #FFF4A3;
    font-weight: 700;
    margin-top: 20px !important;
    font-size: 23px;
}

.learnToCodeh4 {
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-top: 30px !important;
}
.learnToCodeh4 a{
    text-decoration: underline;
}
form.example {
    position: relative;
    margin-top: 30px !important;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #282A35;
    border-radius: 25px;
    float: left;
    width: 80%;
    padding-left: 25px;
    background: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    border-right: 1px solid #04AA6D;
    outline: 0;
}

form.example button {
    border-radius: 25px;
    float: left;
    width: 20%;
    padding: 10px;
    background: #04AA6D;
    color: white;
    font-size: 17px;
    border: 1px solid #282A35;
    border-left: none;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

form.example button:hover {
    background: #059862;
    color: white;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

#listofsearchresults {
    display: none;
    position: absolute;
    border:1px solid #000;
    background-color: #282A35;
    background-color: #fff;
    color: #000;
    width: 80%;
    top: 47px;
    border-left: 1px solid #282A35;
    border-right: 1px solid #282A35;
    border-bottom: 1px solid #282A35;
    text-align: left;
}

#listofsearchresults a {
    background-color: #e2e3e9;
    background-color: #fff;
    color: #777;
    text-decoration: none;
    display: block;
    padding: 10px 30px;
    width: 100%;
    opacity: 0.95;
}

#listofsearchresults a:hover {
    color: #000;
    opacity: 1;
}

.span_search {
    background-color: #ffecee;
}

.search_active {
    background-color: #ffecee !important;
    color: #000 !important;
}

.search_active .span_search {
    background-color: #ffccd1;
}